# information about the installation of `hadron` on the machine
hadron_info.py

# R wrappers fro hadron functions
Rhadron.py

# python garbage files (not needed in this repository)
**__pycache__**

build/
*pyhadron.egg-info*

*.pdf